@page
@model IndexModel
@{
    ViewData["Title"] = "Որոնում";
}

<div id="wrapper" style='display:none'>
    <div id="popup">
        <center>
            <h2>այստեղ կարող էլ լինել տեսք</h2>
            <div style="width: 1200px; height: 600px;">
                <img data-u="image" src="~/images/popup.jpg" />
            </div>
            <button class="btn btn-secondary" onClick="PopUp('hide')" ><i class="cil-check"></i>փակել</button>
        </center>
    </div>
</div>


